@charset "UTF-8";

:root{
    --prime-color: #0c6a3d;
    --second-color: azure;
    --third-color: #D6D58E;
    --fourth-color: seagreen;
    --fifth-color: #21774e;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --thick-gray: #555;
    --article-background: white;
    --blue-color: #024959;
    --max-width: 960px;
    --min-width: 360px;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
    --blue-shadow: 0px 0px 4px 3px #2b9ecc8e;
    --transition-delay: 0.5s;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
    box-shadow: 0px 0px 6px 2px #319dc87c;
    outline: 1px solid #13b5da;
  }
  .form-signin input[type="text"] {
    display: block;
    margin: auto;
    margin-bottom: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.4s;
    border: none;
    outline: 1px solid #b0b0b0;
  }
  .form-signin input[type="password"] {
    display: block;
    margin: 20px auto;
    margin-bottom: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    outline: 1px solid #b0b0b0;
  }

  .form-signin input[type="password"]:focus {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .button{
    display: block;
    margin: auto;
    font-size: medium;
    font-weight: bold;
    background-color: #0c6a3d;
    color: azure;
    border-radius: 6px;
    border: none;
    padding: 12px 0px;
    width: 70%;
    cursor: pointer;
    transition: 0.4s ease;
  }
  .button:hover{    
    background-color: var(--fifth-color);
    color: #D6D58E;
    box-shadow: 0px 0px 4px 2px #2b9ecc8e;
  }

  .login-title{
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    width: 250px;
    border-radius: 3px;

    background-color: #0c6a3d;
    color: azure;
  }

  fieldset{
    border: none;
    box-shadow: 0px 0px 10px 0px #0000003b;
    margin: 10px auto 30px;
    width: 50%;
    border-radius: 3px;
    transition: 0.5s;
  }
  fieldset legend{
    background-color: #0c6a3d;
    color: azure;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0px 0px 3px 1px #00000065;
    transition: 0.7s;
  }
  fieldset:hover legend{
    color: #D6D58E;
    box-shadow: 0px 0px 4px 2px #2b9ecc8e;
  }

  main .main-column{
    padding: 30px 0 100px;
  }

  @media screen and (max-width: 530px) {
    fieldset{
      width: 80%;
    }
  }