@charset "UTF-8";

:root{
    --prime-color: #0c6a3d;
    --second-color: azure;
    --third-color: #D6D58E;
    --fourth-color: seagreen;
    --fifth-color: #21774e;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --thick-gray: #555;
    --article-background: white;
    --blue-color: #024959;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
    --blue-shadow: 0px 0px 4px 3px #2b9ecc8e;
    --transition-delay: 0.5s;
}



.page{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px 26px 58px 26px;
}
.page p, h2, h3, h4, h5, h6 {
    padding: 4px;
}
.page > ul > li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.4s ease;
}
.page > h1{
    font-size: 22px;
}
.page > h2{
    padding-top: 26px;
    font-size: 20px;
    color: #252525;
    transition: 0.4s ease;
}
.page > h2:hover{
    color: var(--prime-color);
}
.page li:hover {    
    color: var(--prime-color);
}
/*LINK CONFIG*/
.page a{
    text-decoration: none;
    font-size: 20px;
}
.page li{
    padding: 5px 0;
}


.page p a{
    color: var(--prime-color);
    text-decoration: underline;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
}
.page p a:hover{
    color: var(--blue-color);
}



/*ICONS*/
ul#email{
    list-style-type: '\1F4E7\00A0';
}
ul#phone{
    list-style-type: '\1F4DE\00A0';
}
ul#address{
    list-style-type: '\1F4CC\00A0';
}

/*
GLOBE CODE:
1F30E
*/




.page h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
}
main .pensao h2{
    font-size: 16px;
    padding: 10px 10px 2px;
}
.page p {
    font-family: Arial, Helvetica, sans-serif;
}

table{
    overflow-x: auto;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    margin: 4px;
}
td{
    padding: 6px;
    border: var(--solid-border);
    transition: 0.4s ease;
}
td:hover{    
    background-color: var(--third-color);
}
th{
    background-color: var(--prime-color);
    color: var(--second-color);
    padding: 6px;
    transition: 0.4s ease;
}
th:hover{
    box-shadow: var(--blue-shadow);
    color: var(--third-color);    
}




/*
CLOSED FOLDER WITH FILES INSIDE
*/
.folder{
    border: 1px solid black;
}
.folder > div{
    display: none;
}
.folder {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 4px;
  }
.subfolders .file p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    text-indent: 0;
}
.file li{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}

article > .active, .collapsible:hover {
    background-color: #555;
}
.file{  
    margin-top: -4px;
    margin-bottom: 6px;
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #00000050;
    max-height: 0;
    transition: max-height 0.7s;
}
/*INSIDE THE FOLDER*/
.file > button{
    padding: 4px;
}
.file > .content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
.file .margin-fix p{
    margin: 3px;
}

/*UNIMED*/
.page .unimed-info .unimed{
    display: block;
    margin: auto;
    box-shadow: none;
    width: 150px;
}
.page .unimed-info p{
    text-indent: 0;
    text-align: center;
}

/*
LOCATION
*/
.map-location{
    margin: 20px 0;
    box-shadow: var(--shadow);
}


@media screen and (max-width: 600px){
    table{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 12px;
        margin: 0;
    }
}

@media screen and (max-width: 530px){
    table{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 12px;
    }
    .main-column{
        transition: 0.4s;
    }
    .page{
        margin: 5px 0 30px;
        padding: 0 8px 20px;
    }
    .page p{
        font-size: 15px;
    }
    .page li{
        font-size: 14px;
        padding: 7px;
    }
    .transparencia{
        margin: 0 5px;
    }
    .page h1{
        border-radius: 0;
    }
    .file{
        padding: 0 7px;
    }
    .file p{
        font-size: 14px;
    }

    .downbar{
        margin-top: 20px;
        padding: 20px 0 20px;
    }
    .downbar article{
        margin: 15px 0;
    }
    }

    @media screen and (max-width: 450px){
        .page{
            margin-top: 5px;
        }
    }
    @media screen and (max-width: 400px){
        td{
            font-size: 10px;
        }
        .page{
            padding: 0 8px 8px;
        }
    }