@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/
:root{
    --prime-color: #00684a;
    --second-color: azure;
    --third-color: #D6D58E;
    --fourth-color: #00946a;
    --fifth-color: #188b6b;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --thick-gray: #555;
    --article-background: white;
    --blue-color: #024959;
    --max-width: 960px;
    --min-width: 360px;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
    --blue-shadow: 0px 0px 4px 2px #2b9ecc8e;
    --short-delay: 0.5s;
    --long-delay: 0.7s;
}
/*CORES INTERESSANTES*/
/*21774e    (white green (fifth-color))*/
/*seagreen   (fourth-color)*/
/*#0c6a3d    (white green)*/
/*#d4e3f6    (gray)*/
/*#024959    (black blue)*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;
    background-color: var(--background-color);
}

*{
    box-sizing: border-box;
}

main{
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}


html{
    scroll-behavior: smooth;
}

/*
HEADER
*/
header{
    padding: 16px;
    margin-bottom: 10px;
    background-color: var(--prime-color);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    position: relative;
}
header a{
    text-decoration: none;
}
header h1{
    margin: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 12px;
    color: var(--second-color);
    transition: var(--short-delay);
}
header h1:hover{
    color: var(--third-color);
    text-decoration: none;
}
/*SUBTITLE*/
header p{
    color: var(--second-color);
    position: absolute;
    top: 48px;
    left: 112px;
    transition: var(--short-delay);
}
header p:hover{    
    color: var(--third-color);
}
header img{
    width: 80px;
    height: 76px;
    background-color: #f0ffffb8;
    border-radius: 8px;
    padding: 5px;
}



/*
GRID AND FLEX STRUCTURE
*/
.container{
    display: grid;
    grid-template-areas: 
    "main-column side-column"
    "content-column content-column";
    grid-template-columns: 2fr 1fr;
}
.main-column{
    grid-area: main-column;
    overflow: hidden;
    grid-auto-flow: dense;
    padding: 0px 8px 0px 8px;
    margin: 14px 12px 0px 10px;
}
.side-column{
    grid-area: side-column;
    grid-auto-flow: dense;
    padding: 0px 8px 0px 8px;
    margin: 20px 12px 0px 10px;
}
.content-column{
    display: grid;
    grid-area: content-column;
    grid-template-columns: 1fr 1fr 1fr;
}
.downbar{
    display: flex;
    flex-direction: row;
    background-color: var(--sooth-gray);
    margin-top: 12px;
    padding: 8px;
    box-shadow: var(--shadow);
}
.downbar article{
    margin: 12px;
}



/*
SECTIONS AND ARTICLES
*/
section article{
    padding: 4px 16px 20px 16px;
    margin-top: 12px;
    margin-bottom: 16px;
    transition: var(--short-delay);
}
section article h1{
    background-color: var(--prime-color);
    color: var(--second-color);
    padding: 4px;
    padding-left: 6px;
    border-radius: 2px;
    transition: var(--short-delay);
}
section article h1:hover{
    color: var(--third-color);    
    box-shadow: var(--blue-shadow);
}
article{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
    display: inline-block;
    transition: var(--short-delay);
}
article:hover{    
    box-shadow: var(--blue-shadow);
}
article p{
    text-indent: 22px;
}
.main-column article img{
    float: left;
    margin-bottom: 0px;
    margin-right: 15px;
    width: 50%;
    height: 100%;
    box-shadow: var(--shadow);
    transition: 0.7s;
}
.main-column article img:hover, .content-column article img:hover{
    box-shadow: 0px 0px 6px 2px #00000070;
}
aside{
    padding: 12px;
}
.side-column article img{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
}
.content-column{
    margin: 10px 10px 30px;
    transition: 0.7s;
}
.content-column article{
    margin: 10px;
    transition: 0.7s;
}
.content-column article img{
    box-shadow: var(--shadow);
    width: 100%;
    transition: 0.7s;
}

/*
LINKS TO CONVEY UNTIL POSTS
*/
.read-more{
    color: var(--prime-color);
    font-weight: bold;
    transition: 0.5s;
}
.read-more:hover{
    color: var(--blue-color);
}
.h1-anchor{
    text-decoration: none;
}

/*
HOLERITE
*/
.holerite{
    padding: 0px 16px 0px 16px;
    margin-top: 18px;
    margin-bottom: 28px;
    width: 100%;
    transition: var(--long-delay);
}
.holerite h1{
    padding: 2px;
    padding-left: 6px;
    border-radius: 2px;
    background-color: var(--prime-color);
    color: var(--second-color);
    transition: var(--short-delay);
}
.holerite h1:hover{
    color: var(--third-color);
    box-shadow: var(--blue-shadow);
}
.holerite{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
    display: inline-block;
    transition: var(--short-delay);
}
.holerite:hover{    
    box-shadow: var(--blue-shadow);
}



.transparencia a{
    display: block;
    position: relative;
    font-size: 20px;
    background-color: var(--prime-color);
    padding: 18px;
    border-radius: 4px;
    box-shadow: var(--shadow);

    text-align: center;
    text-decoration: none;
    color: var(--second-color);
    margin: auto;
    padding: 18px;
    transition: var(--short-delay);
}
.transparencia a:hover{
    color: var(--third-color); 
    background-color: var(--fifth-color);
    box-shadow: var(--blue-shadow);    
}


/*
NAVBAR WITH DROPDOWN
*/

/* INDEX MENU */
a#home{
    font-size: 26px;
    padding: 11px 16px;
}

/* Hide icon */
.navbar .icon {
    display: none;
} 

/* Navbar container */
.navbar {
overflow: hidden;
background-color: var(--prime-color);
font-family: Arial;
box-shadow: var(--shadow);
margin-bottom: 10px;
}
  
/* Links inside the navbar */
.navbar a {
float: left;
font-size: 17px;
color: var(--second-color);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
position: relative;
font-size: 17px;
color: var(--second-color);
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
color: var(--prime-color);
background-color: var(--second-color);
transition: var(--short-delay);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: var(--second-color);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
background-color: var(--sooth-gray);
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: var(--fourth-color);
color: var(--second-color);
box-shadow: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/*DROPDOWN ARROW*/
.arrow{
    transform: rotate(45deg);
    font-size: 9px;
    position: absolute;
    left: 99px;
    top: 17px;
}

/*
ACTIVE CLASS
*/
.active, nav a:hover{
background-color: var(--fourth-color);
}
a.active{
color: var(--second-color);
}
.dropdown .active{
    background-color: var(--fifth-color);
}







footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px 0px 0px;
    padding: 12px 20px;
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
    transition: 0.5s;
}
footer p > a{
    color: var(--prime-color);
    font-style: italic;
    animation: fadeIn 0.7s;
}
footer p > a:hover{
    animation: fadeOut 0.7s;
    color: var(--blue-color);
}
.scrolltop{
    font-size: 25px;
    background-color: var(--prime-color);
    color: var(--second-color);
    padding: 15px 20px 20px;    
    text-decoration: none;
    border-radius: 4px;
    box-shadow: var(--shadow);
    transition: var(--short-delay);
}
.scrolltop:hover{
    color: var(--third-color);
    box-shadow: var(--blue-shadow);    
}
@keyframes fadeIn {
    0% {opacity: 0.2;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    100% {opacity: 1;}
    0% {opacity: 0.2;}
}



/*HIDE LOGIN IN NAV*/
.login{
    display: none;
}


/*LOGIN IN SIDEBAR*/
.login-form{
    padding: 1px 10% 30px;
}

.form-control{
    display: block;
    margin: 0 0 14px;
    padding: 12px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
    text-indent: 10px;
    transition: 0.5s;
}
.form-control[type=text]:focus{
    outline: none;
    box-shadow: 0px 0px 7px 0px #05accd74;
    border: 1px solid #10a2c3;
}
.form-control[type=password]:focus{
    outline: none;
    box-shadow: 0px 0px 7px 0px #05accd74;
    border: 1px solid #10a2c3;
}

.button{
    display: block;
    margin: 18px 0;
    font-weight: bolder;
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--prime-color);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    color: var(--third-color);
    background-color: var(--fifth-color);
    box-shadow: var(--blue-shadow);
}


/*
RESPONSIVE COLUMNS
*/
@media screen and (max-width: 960px) {
    .container  {
        grid-template-columns: 2fr 1fr;
    }
    .main-column{
        transition: 0.4s;
    }
    .side-column{
        transition: 0.4s;
    }
}
@media screen and (max-width: 900px) {
    .content-column{
        margin: 0;
    }
    .content-column article{
        margin: 5px 10px 30px;
    }
}
@media screen and (max-width: 850px) {
    .main-column article img{
        float: left;
        margin-bottom: 0px;
        margin-right: 15px;
        width: 60%;
        height: 100%;
        box-shadow: var(--shadow);
        transition: 0.7s;
    }
    .main-column{
        margin: 10px 0;
    }
    .side-column{
        margin: 20px 0;
    }
    th, tr, td{
        font-size: 10px;
    }

}
@media screen and (max-width: 720px) {
    .container{
        grid-template-areas: 
        "side-column side-column"
        "main-column main-column"
        "content-column content-column";
    }
    .content-column{
        grid-template-columns: 1fr 1fr;
    }
    .side-column{
        grid-row: 1;
    }
    .main-column{
        grid-row: 2;
    }
    .side-column-img{
        display: none;
    }
    .holerite, .holerite > iframe{
        display: none;
    }
    .transparencia{
        text-align: center;
    }
    .transparencia img{
        display: none;
    }
}
@media screen and (max-width: 720px){
    header > a > p{
        margin-right: 15px;
    }
    .downbar{
        flex-direction: column;
    }
    th, tr, td{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    .content-column{
        grid-template-columns: 1fr;
    }
}





/*
RESPONSIVE NAVBAR
*/

@media screen and (max-width: 720px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  

  @media screen and (max-width: 720px) {
    .icon{
        cursor: pointer;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {
        float: none;
    }
    .navbar.responsive .dropdown-content {
        position: relative;
    }
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .icon.active{
        background-color: var(--thick-gray);
    }
    #home:hover{
        background-color: var(--thick-gray);
        color: var(--second-color);
    }
    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: var(--thick-gray);
        color: var(--second-color);
    }
    #mobile a:hover{
        background-color: var(--thick-gray);
        color: var(--second-color);
    }
    .dropdown-content a:hover {
        background-color: #c9c9c9;
        color: black;
    }
    .dropdown .active{
        background-color: #898989;
    }
    .dropdown.active{
        background-color: var(--fifth-color);
    }
  }

  /*
  RESPONSIVE IMG
  */
  @media screen and (max-width: 720px){
    .main-column article img{
        float: none;
        width: 100%;
    }
  }


  /*
  MOBILES 450px until 562px
  */
  @media screen and (max-width: 562px){
    body{
        margin: 0;
    }
    header{
        padding-top: 6px;
        padding-bottom: 16px;
    }
    header h1{
        line-height: 25px;
    }
    header p{
        font-size: 16px;
        line-height: 20px;
        top: 42px;
    }
    header img{
        margin-top: 12px;
    }
  }
  @media screen and (max-width: 520px){
    th, tr, td{
        font-size: 12px;
    }
  }

  /*
  MOBILES 400px until 450px
  */
  @media screen and (max-width: 450px){
    body{
        margin: 0;
    }
    header{
        padding-top: 6px;
        padding-bottom: 16px;
    }
    header h1{
        line-height: 25px;
    }
    header p{
        font-size: 16px;
        line-height: 18px;
        top: 42px;
    }
    header img{
        margin-top: 12px;
    }


    footer{
        padding: 12px 10px;
    }
  }


  /*
  MOBILES any size until 400px
  */
  @media screen and (max-width: 400px){
    body{
        margin: 0;
    }
    header{
        padding-top: 6px;
        padding-bottom: 16px;
    }
    header h1{
        line-height: 25px;
    }
    header p{
        font-size: 14px;
        line-height: 15px;
        top: 48px;
    }
    header img{
        margin-top: 12px;
    }
  }










/*PAGES*/
.page{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px 26px 58px 26px;

    animation-name: fadeInPage;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.page p, h2, h3, h4, h5, h6 {
    padding: 4px;
}
.page > ul > li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: 0.4s ease;
}
.page > h1{
    font-size: 22px;
}
.page > h2{
    padding-top: 26px;
    font-size: 20px;
    color: #252525;
    transition: 0.4s ease;
}
.page > h2:hover{
    color: var(--prime-color);
}
.page li:hover {    
    color: var(--prime-color);
}
/*LINK CONFIG*/
.page a{
    text-decoration: none;
    font-size: 20px;
}
.page li{
    padding: 5px 0;
}


.page p a{
    color: var(--prime-color);
    text-decoration: underline;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
}
.page p a:hover{
    color: var(--blue-color);
}



/*ICONS*/
ul#email{
    list-style-type: '\1F4E7\00A0';
}
ul#phone{
    list-style-type: '\1F4DE\00A0';
}
ul#address{
    list-style-type: '\1F4CC\00A0';
}

/*
GLOBE CODE:
1F30E
*/


/*UNIMED SECTION: MÉDICOS*/
.unimed-container{
    margin: 3rem 0 1rem;
}
.unimed-container h2{
    color: #252525;
}
.unimed-container #search-unimed{
    font-size: 1rem;
    color: white;
    background: var(--prime-color);
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: none;
    outline: none;
    cursor: pointer;
}
.unimed-container #search-unimed:focus{
    background-color: var(--fifth-color);

}
.unimed-container #search-unimed option{
    font-size: 1rem;
    border: none;
}
.medicos{
    overflow-x: scroll;
}
.medicos table{
    font-family: 'Ubuntu', sans-serif;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
}
.medicos table tbody tr:nth-of-type(odd){
    background: #e4e4e4;
}
.medicos table tbody tr:nth-of-type(even){
    background: #f5f5f5;
}





.page h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 0;
}
main .pensao h2{
    font-size: 16px;
    padding: 10px 10px 2px;
}
.page p {
    font-family: Arial, Helvetica, sans-serif;
}

table{
    overflow-x: auto;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    margin: 4px;
}
td{
    padding: 6px;
    border: var(--solid-border);
    transition: 0.4s ease;
}
td:hover{    
    background-color: var(--third-color);
}
th{
    background-color: var(--prime-color);
    color: var(--second-color);
    padding: 6px;
    transition: 0.4s ease;
}
th:hover{
    box-shadow: var(--blue-shadow);
    color: var(--third-color);    
}




/*
CLOSED FOLDER WITH CONTENT INSIDE
*/
.folder{
    border: 1px solid black;
}
.folder > div{
    display: none;
}
.folder {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 4px;
  }
.subfolders .folder_content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    text-indent: 0;
}
.folder_content li{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
}

article > .active, .collapsible:hover {
    background-color: #555;
}
.folder_content{  
    margin-top: -4px;
    margin-bottom: 6px;
    padding: 0px 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #00000050;
    max-height: 0;
    transition: max-height 0.7s;
}
/*INSIDE THE FOLDER*/
.folder_content > button{
    padding: 4px;
}
.folder_content > .content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
.folder_content .margin-fix p{
    margin: 15px 3px;
}

/*UNIMED*/
.page #unimed-logo{
    display: block;
    margin: 15px auto 0;
    box-shadow: none;
    width: 200px;
}
.page #unimed-logo:hover{
    box-shadow: none;
}
.page .font-fix{
    text-indent: 0;
    text-align: center;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
LOCATION
*/
.map-location{
    margin: 20px 0;
    box-shadow: var(--shadow);
}


@media screen and (max-width: 600px){
    table{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 12px;
        margin: 0;
    }
}

@media screen and (max-width: 530px){
    table{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 12px;
    }
    .main-column{
        transition: 0.4s;
    }
    .page{
        margin: 5px 0 30px;
        padding: 0 8px 20px;
    }
    .page p{
        font-size: 15px;
    }
    .page li{
        font-size: 14px;
        padding: 7px;
    }
    .transparencia{
        margin: 0 5px;
    }
    .page h1{
        border-radius: 0;
    }
    .file{
        padding: 0 7px;
    }
    .file p{
        font-size: 14px;
    }

    .downbar{
        margin-top: 20px;
        padding: 20px 0 20px;
    }
    .downbar article{
        margin: 15px 0;
    }
    }

@media screen and (max-width: 450px){
        .page{
            margin-top: 5px;
        }
}
@media screen and (max-width: 400px){
        td{
            font-size: 10px;
        }
        .page{
            padding: 0 8px 8px;
        }
}


@keyframes fadeInPage{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
}










/*TABLE*/
.bordero-bancario, .legislacao{
    margin: 15px 0;
    width: 100%;
}
.bordero-bancario th, .legislacao th{
    background-color: var(--blue-color);
    padding: 20px;
}