@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');



:root{
    --anchor-color: #699f18;
    --anchor-hover: #306b08;
    --sooth-gray: #f1f9fc;
    --gray-color: #e3e3e3;
    --light-yellow: #D6D58E;
    --light-green: #8ec53e;
    --dark-gray: #3d4351;
    --light-gray: #898d98;
    --white: #ffffff;
    --nav-hover: #444c5b;
    --nav-dropdown-hover: #303645;
    --nav-dropdown-content-hover: #373f53;

    --font-color: #373f53;
    --font-hover: #222f52;
    --sub-header-color: #646875;

    --mobile: 360px;
}

/* 
COLORS
    --dark-gray: #3d4351;
    --light-gray: #898d98;
*/


html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--light-gray);
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark-gray);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--light-green);
}




*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0; margin: 0;
    transition: .3s linear;
    box-sizing: border-box;
    text-decoration: none;
}


/*ICONS*/
ul#email{
    list-style-type: '\1F4E7\00A0';
}
ul#phone{
    list-style-type: '\1F4DE\00A0';
}
ul#address{
    list-style-type: '\1F4CC\00A0';
}


body{
    min-width: var(--mobile);
    max-width: 2000px;
    margin: auto;
    box-shadow: 0px 0px 10px 1px #0000006b;
}



/* HEADER CSS */
header{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: var(--dark-gray);

    padding: 0 3%;
}
header .container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .title-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
}
header .title-container .subtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: var(--sooth-gray);
}
header img.brasão{
    display: flex;
    align-items: center;
    background-color: #ffffff99;
    padding: .3rem;

    width: 70px;
    height: 65px;

    border-radius: 8px;
}


/* COLOR OF THE LINKS INSIDE HEADER */
header a{
    color: var(--gray-color);
    color: var(--light-gray);
}
header a:hover{
    color: var(--light-green);  
}
header .title-container h1{
    color: var(--sooth-gray);
}
header .title-container *:hover{
    color: var(--light-green);
}

header #mobile{
    display: none;
}


/* NAVBAR CSS */
nav.navbar{
    display: flex;
    gap: 1.5rem;
}
nav.navbar a{
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    height: 90px;
}
nav.navbar #home{
    font-size: 1.5rem;
}
nav.navbar #login{
    display: none;
}
nav.navbar #transparencia{
    display: none;
}
nav.navbar .close-nav{
    display: none;
}

/* NAVBAR DROPDOWN */
nav.navbar .dropdown{
    display: flex;
    align-items: center;
}
nav.navbar .dropdown .dropbtn{
    display: flex;
    gap: .2rem;
    color: var(--light-gray);
    font-size: 1.1rem;
}
nav.navbar .dropdown .dropbtn:hover{
    color: var(--light-green);
}
nav.navbar .dropdown .arrow{
    transform: rotate(45deg);
    font-size: .6rem;
}
nav.navbar .dropdown .dropdown-content{
    display: none;
}
header{
    position: relative;
}
nav.navbar .dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;

    background-color: var(--dark-gray);
    
    position: absolute;
    top: 100%;
    z-index: 1000;
}
nav.navbar .dropdown .dropdown-content a{
    height: initial;
    padding: 1.5rem;
}
nav.navbar .dropdown .dropdown-content a:hover{
    background-color: var(--nav-dropdown-hover);
}
nav.navbar .dropdown:hover .dropbtn {
    color: var(--light-green);
}



/* MAIN CONTAINER */
main.container{
    padding: 2rem 3%;
}






/* SLIDESHOW CSS - FLEXBOX */
.slideshow{
    position: relative;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px #00000054;
}
.slideshow .slides{
    position: relative;    
    height: 100%;
}
.slideshow .slide{
    position: relative;

    display: flex;
    justify-content: center;
    flex-shrink: 0;

    height: 100%;
    width: 100%;
}
.slideshow .slide img{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-basis: content;

    width: 100.1%;
    transform: translateY(-20%);
}

/* STARTS WITH NO DISPLAY */
.slideshow .slide{
    display: none;
}


/* TEXTS AND BUTTONS */
.slideshow .slide .text{
    position: absolute;
    bottom: 0; left: 0; right: 0;

    font-size: 1.4rem;
    text-align: center;

    padding: 2rem 4rem;
    background-color: #000000d4;
}
.slideshow .slide .text:hover{
    background-color: #000000e8;
}
.slideshow .slide .text:hover a{
    color: var(--light-yellow);
}
.slideshow .text a{
    line-height: 1.8rem;
    color: lightgray;
}

/* NEXT AND PREV BTN */
.slideshow .next, .slideshow .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 2.5rem 1.3rem;

    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffffb5;

    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow .next{
    right: 0;
    border-radius: 5px 0 0 5px;
}
.slideshow .prev{
    left: 0;
    border-radius: 0px 5px 5px 0;
}
.slideshow .next:hover, .slideshow .prev:hover{
    background: #000000c1;
    color: var(--white);
}


/* DOTS */
.slideshow-container .dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
.slideshow-container .dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--light-gray);
}
.slideshow-container .dot:hover{
    background-color: var(--light-green);
}
.slideshow-container .dot.active{
    background-color: var(--light-green);
}










/* MAIN COLUMN CSS - GRID LAYOUT */
.main-column{
    display: grid;
    grid-template-columns: 1fr 300px;
}
.main-column .sidebar{
    grid-column: 2;
    grid-row: 1;

    padding: 0 0 0 1rem;
}




/* TRANSPARÊNCIA PÚBLICA - CSS */
.main-column .transparencia{
    margin: 0 0 1rem;
    width: 100%;
    height: 100px;
    background-color: var(--dark-gray);

    cursor: pointer;
}
.main-column .transparencia a{
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
}
.main-column .transparencia a:hover{
    color: var(--light-green);
}










/* HOLERITE - LOGIN CSS */
.main-column .login{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding: 2rem 1.5rem;

    width: 100%;
    background-color: var(--dark-gray);
}
.main-column .login h2{
    color: var(--white);
}
.main-column .login .login-form{
    display: flex;
    justify-content: stretch;
}
.main-column .login .form-signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}
.main-column .form-signin input{
    display: block;
    padding: .7rem .5rem;
    margin: 1rem auto 0;
    border: none;
    outline: none;
    font-size: 1.2rem;
    outline: 3px solid transparent;

    width: 100%;
}
.main-column .form-signin input:focus{
    outline: 3px solid var(--light-green);
}
.main-column .form-signin button{
    display: block;
    margin: 1rem auto;
    padding: .7rem 3rem;
    border: none;

    background-color: var(--light-green);
    color: var(--dark-gray);

    font-size: 1.2rem;

    cursor: pointer;
}
.main-column .form-signin button:hover{
    color: #303645;
    background-color: #7eb72a;
}










/* MAIN COLUMN CSS - PAGES AND FOLDERS */
.main-column .page{
    padding: 0 2rem;
}
.main-column .page h2{
    color: var(--dark-gray);
    font-size: 2rem;
    margin: 2rem 0 2rem;
}
.main-column .page h3{
    color: var(--sub-header-color);
    font-size: 1.5rem;
    margin: 2.5rem 0 1rem;
}
.main-column .page p{
    color: var(--font-color);
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin: 1rem 0;
}
/* ANCHORS */
.main-column .page p a{
    color: var(--anchor-color);
    text-decoration: underline;
}
.main-column .page a{
    color: var(--anchor-color);
}
.main-column .page a:hover{
    color: var(--anchor-hover);
}


/* IMAGES INSIDE PAGE */
.main-column .page img{
    float: left;

    /*max-width: 400px;*/
    width: 450px;
    margin-right: 1rem;
}
.main-column .page img:hover{
    box-shadow: 0px 0px 7px 1px #00000046;
}


/* LOCATION */
.main-column .page .map-location{
    margin-top: 2rem;
    box-shadow: 0px 0px 10px 0px #00000050;
}



/* FOLDER CSS */
.main-column .page button.folder{
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--gray-color);
    background: var(--dark-gray);
    border: none;
    padding: .5rem 1rem;
    margin-top: 1rem;
    width: 100%;
}
.main-column .page button.folder:hover{
    color: var(--light-green);
}
.main-column .page .folder_content{
    display: none;
    background-color: var(--gray-color);
    padding: 1rem 3rem;
}
.main-column .page .folder_content.open{
    display: block;
}



/* TABLE CSS */
.main-column .page table{
    color: var(--font-color);
    font-size: 1.3rem;
    width: 100%;
}
.main-column .page th{
    background-color: var(--dark-gray);
    color: var(--white);
    padding: .7rem 1rem;
}
.main-column .page td{
    padding: .7rem .5rem;
    border: 1px solid gray;
    background-color: #e8e8e8;
}
.main-column .page tr td{
    margin: 1rem;
}
.main-column .page td:hover{
    background-color: var(--light-yellow);
}

/* CENTER DOWNLOAD ICON IN TABLE */
.main-column .page .folder_content table td:nth-of-type(2){
    text-align: center;
}
.main-column .page table.licitacoes td:nth-of-type(5){
    text-align: center;
}




/* UNORDERED LIST CSS */
ul{
    padding: 0 0 0 2rem;
    list-style-position: inside;
}
ul li{
    font-size: 1.2rem;
    padding: .4rem;
    color: #555;
}
ul li:hover{
    color: var(--font-hover);
}

/* ORDERED LIST CSS */
ol{
    padding: 0 0 0 2rem;
    list-style-position: inside;
}
ol li{
    font-size: 1.2rem;
    padding: .4rem;
    color: #555;
}
ol li:hover{
    color: var(--font-hover);
}






/* SELECT TAG - UNIMED CSS */
#search-unimed{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    width: 100%;

    background: var(--dark-gray);
    color: var(--white);
    border: none;
}
.medicos table{
    margin: 2rem 0;
}
.medicos .rendered-section{
    text-transform: capitalize;
}
.main-column .page table.unimed-table th{
    padding: .5rem .2rem;
}
.main-column .page table.unimed-table tr td{
    padding: .5rem;
}

/* UNIMED SEARCH BAR CSS */
.search-bar{
    position: relative;

    display: flex;
    align-items: center;
}
#search-input{
    font-size: 1.5rem;
    color: var(--font-color);
    padding: .5rem 1rem;
    margin: 1rem 0;

    outline: 2px solid transparent;
    width: 100%;    
}
#search-input:focus{
    outline: 2px solid var(--light-green);
}
.search-icon{
    position: absolute;
    right: 1rem;

    font-size: 1.5rem;
    color: var(--light-gray);
}

.unimed .box:nth-of-type(5){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0 .5rem;

    width: 100%;
}
.unimed .box img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 0;
}
.unimed .box img:hover{
    box-shadow: none;
}









/* CONTENT COLUMN CSS - GRID LAYOUT */
.content-column{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    margin-top: 5rem;
}

.content-column .post{
    display: flex;
    flex-direction: column;

    margin: 2rem 1rem;
    padding: .7rem;

    border: 1px solid #e6e6e6;
}
.content-column .post:hover{
    box-shadow: 0px 0px 10px 1px #00000033;
}

.content-column .post .title{
    color: var(--white);
    background-color: var(--dark-gray);
    padding: .7rem 1rem;
    margin: 0;
}
.content-column .post .title:hover{
    color: var(--light-green);
}
.content-column .post img{
    width: 100%;
}
.content-column .post .paragraph{
    color: var(--dark-gray);
    font-size: 1.3rem;
    line-height: 1.9rem;
    text-align: justify;
    text-indent: 3rem;

    margin: 1.5rem 0;
}
.content-column .post .read-more{
    color: var(--white);
    background-color: var(--dark-gray);
    font-size: 1.3rem;
    padding: .5rem 1rem;
}
.content-column .post .read-more:hover{
    color: var(--light-green);
}











/* LOGIN PAGE - CSS */
fieldset{
    margin: auto;
    width: 500px;
    height: 400px;

    padding: 3rem 3rem 0;
    border: 1px solid lightgray;
}
fieldset legend{
    font-size: 1.4rem;
    color: var(--font-color);
}
form.holerite-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
form.holerite-form input{
    padding: .7rem .5rem;

    font-size: 1.2rem;
    outline: 2px solid transparent;
    width: 100%;
    color: var(--font-color);
}
form.holerite-form input:focus{
    outline: 2px solid var(--light-green);
}
form.holerite-form button{
    cursor: pointer;
    padding: .7rem .5rem;
    width: 100%;

    font-size: 1.2rem;

    background: var(--light-green);
    border: transparent;
    color: var(--font-color);
}
form.holerite-form button:hover{
    color: var(--font-hover);
    background: #7eb72a;
}
/* LOGIN PAGE - CSS */
@media screen and (max-width: 750px) {
    fieldset{
        width: 400px;
        height: 400px;

        padding: 3rem 2rem 0;
        margin: 0 auto;
    }
}
@media screen and (max-width: 550px) {
    fieldset{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 450px) {
    fieldset{
        width: 300px;
        height: 400px;
    }
}











/* FOOTER CSS */
footer{
    background: var(--dark-gray);
    color: var(--white);

    margin-top: 7rem;
    padding: 4rem 7%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    font-size: 1.4rem;
}
footer a{
    color: var(--light-green);
}
footer .box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
footer .scrolltop{
    font-size: 2rem;
    color: var(--light-gray);
    background-color: #444c5b;
    padding: 1.1rem 1.3rem 1.3rem;
    border-radius: 5px;
}
footer .scrolltop:hover{
    color: var(--light-green);
}












/* MEDIA QUERIES */
@media screen and (max-width: 1450px) {
    header{
        padding: 0 2%;
    }
}
@media screen and (max-width: 1000px) {
    main.container{
        padding: 2rem .5%;
    }
    footer{
        padding: 5rem 3%;
    }
}
@media screen and (max-width: 1350px) {
    nav.navbar{
        gap: 1rem;
    }
    nav.navbar a, nav.navbar .dropdown .dropbtn{
        font-size: 1rem;
    }
}
@media screen and (max-width: 1160px) {

    /* MOBILE NAV */
    nav.navbar #login{
        display: flex;
    }
    nav.navbar #transparencia{
        display: flex;
    }

    nav.navbar{
        display: none;
        box-shadow: 0px 0px 10px 2px #00000074;
    }
    header #mobile{
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        cursor: pointer;
        height: 90px;
    }

    nav.navbar.responsive {
        position: fixed;
        z-index: 1001;
        top: 0; bottom: 0; right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;

        background-color: var(--dark-gray);
        padding: 6rem 0;

        transform: translateX(0);
    }
    nav.navbar.responsive #home{
        font-size: 1.5rem;
    }
    nav.navbar.responsive a{
        display: flex;
        justify-content: center;

        font-size: 1.1rem;
        height: auto;
        width: 17rem;
        padding: .7rem 2rem;
    }
    nav.navbar.responsive a:hover{
        background-color: var(--navbar-hover);
    }
    nav.navbar.responsive .dropdown{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav.navbar.responsive .dropdown:hover .dropdown-content{
        position: initial;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--nav-hover);
    }
    nav.navbar.responsive .dropdown .dropdown-content a{
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: .7rem 0;
    }
    nav.navbar.responsive .dropdown .dropbtn{
        display: flex;
        justify-content: center;

        font-size: 1.1rem;
        padding: .7rem 2rem;
        width: 100%;
    }
    nav.navbar.responsive .dropdown .dropdown-content a:hover{
        background-color: var(--nav-dropdown-content-hover);
    }
    nav.navbar.responsive .dropdown:hover .dropbtn{
        background-color: var(--nav-dropdown-hover);
    }
    nav.navbar{
        position: relative;
    }
    nav.navbar.responsive .close-nav{
        display: block;

        border: none;
        background: transparent;
        font-size: 3.5rem;

        color: var(--light-gray);

        position: absolute;
        top: 0; left: 1.5rem;
        cursor: pointer;
    }
    nav.navbar.responsive .close-nav:hover{
        color: var(--light-green);
    }

}


@media screen and (max-width: 1350px){
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{    
        transform: translateY(-10%) scale(1.2);
    }
}

@media screen and (max-width: 1160px){
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{    
        transform: translateY(0) scale(1.2);
    }

}

@media screen and (max-width: 1050px){
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{    
        transform: translateY(-10%) scale(1);
    }

    .main-column{
        display: flex;
        flex-direction: column;
    }
    .main-column .sidebar{
        display: none;
    }

}
@media screen and (max-width: 900px){
        /* SLIDESHOW - SCALE IMAGE*/
        .slideshow .slide img{    
            transform: translateY(0) scale(1.3);
        }
}


@media screen and (max-width: 800px) {
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{    
        transform: translateY(20%) scale(1.5);
    }
    .slideshow .slide:nth-of-type(2) img{    
        transform: translateY(0%) scale(1.5) translateX(-15%);
    }
}

@media screen and (max-width: 700px) {
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{    
        transform: translateY(10%) scale(1.5);
    }
    .slideshow .slide:nth-of-type(2) img{    
        transform: translateY(10%) scale(1.7) translateX(-15%);
    }

    /* TEXTS AND BUTTONS */
    .slideshow .slide .text{
        font-size: 1.2rem;

        padding: 1rem 2rem;
        background-color: #000000d4;
    }
    .slideshow .slide .text:hover{
        background-color: #000000e8;
    }
    .slideshow .slide .text:hover a{
        color: var(--light-yellow);
    }
    .slideshow .text a{
        line-height: 1.8rem;
        color: lightgray;
    }


}
@media screen and (max-width: 600px){
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{    
        transform: translateY(20%) scale(1.7);
    }
    .slideshow .slide:nth-of-type(2) img{    
        transform: translateY(20%) scale(1.5) translateX(-10%);
    }
}

@media screen and (max-width: 550px) {
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{
        transform: translateY(30%) scale(2) translateX(0);
    }

    .slideshow .slide .text{
        font-size: 1rem;
        padding: 1rem;
        background-color: #000000d4;
    }
    .slideshow .text a{
        line-height: 1.5rem;
    }



    footer{
        padding: 4rem 2%;
    }
    footer p{
        font-size: .9rem;
    }
    footer .scrolltop{
        font-size: 1.2rem;
        padding: .8rem 1rem 1rem;
    }
}


@media screen and (max-width: 550px) {
    /* SLIDESHOW - SCALE IMAGE*/
    .slideshow .slide img{
        transform: translateY(50%) scale(2.5) translateX(0);
    }

    /* ODONTO IMAGE CENTERED */
    .slideshow .slide:nth-of-type(2) img{
        transform: translateY(37%) scale(2) translateX(-15%);
    }
}
@media screen and (max-width: 400px) {
    /* ODONTO IMAGE CENTERED */
    .slideshow .slide:nth-of-type(2) img{
        transform: translateY(50%) scale(2.5) translateX(-15%);
    }
}



/* RESPONSIVE HEADER AND TITLES */
@media screen and (max-width: 600px) {
    header{
        gap: 2rem;
    }

    header .title-container .main-title{
        font-size: 1.7rem;
    }
    header .title-container .subtitle{
        font-size: .9rem;
    }
}
@media screen and (max-width: 600px) {
    header{
        gap: 1rem;
    }

    header .title-container .main-title{
        font-size: 1.7rem;
    }
    header .title-container .subtitle{
        font-size: .7rem;
    }
}
























/* MEDIA QUERIES - PAGE */
@media screen and (max-width: 1200px) {
    /* IMAGES INSIDE PAGE */
    .main-column .page img{
        float: left;

        width: 350px;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 850px) {
    /* IMAGES INSIDE PAGE */
    .main-column .page img{
        float: left;

        width: 350px;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 750px) {
    /* IMAGES INSIDE PAGE */
    .main-column .page img{
        float: none;
        width: 100%;
        margin: 0 0 1rem;
    }
}

@media screen and (max-width: 500px) {
    .main-column .page{
        grid-template-columns: 100%;
        
        padding: 0 .2rem;
    }

    .main-column .page h2{
        font-size: 2rem;
    }

}




/* MEDIA QUERIES TABLES */
@media screen and (max-width: 1250px) {
    /* TABLE CSS */
    .main-column .page table{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 900px) {
    /* TABLE CSS */
    .main-column .page table{
        color: var(--font-color);
        font-size: 1rem;
        width: 100%;
        
        overflow-x: scroll;
    }
    .main-column .page th{
        background-color: var(--dark-gray);
        color: var(--white);
        padding: .7rem 1rem;
    }
    .main-column .page td{
        line-height: 1.4rem;
        padding: .7rem .5rem;
        border: 1px solid gray;
        background-color: #e8e8e8;
    }
    .main-column .page tr td{
        margin: 0;
    }
    .main-column .page td:hover{
        background-color: var(--light-yellow);
    }

    .main-column .page table.licitacoes td:nth-of-type(3){
        min-width: 200px;
    }


    /* UNIMED TABLE */
    .medicos{
        overflow-x: scroll;
    }
    .main-column .page table.unimed-table{
        font-size: 1rem;
    }
    .main-column .page table.unimed-table th:nth-of-type(2){
        font-size: .8rem;
    }
    #search-input{
        font-size: 1.2rem;
        padding: .5rem;
        margin: 1rem .5rem; 
    }



    /* FOLDER CSS */
    .main-column .page button.folder{
        display: block;
        cursor: pointer;
        font-size: 1.4rem;
        color: var(--gray-color);
        background: var(--dark-gray);
        border: none;
        padding: .5rem 1rem;
        margin-top: 1rem;
        width: 100%;
    }
    .main-column .page button.folder:hover{
        color: var(--light-green);
    }
    .main-column .page .folder_content{
        display: none;
        background-color: var(--gray-color);
        padding: 1rem .5rem;
    }
    .main-column .page .folder_content.open{
        display: block;
    }


}

@media screen and (max-width: 800px) {
    .main-column .page table.unimed-table th{
        padding: .3rem;
    }
    .main-column .page table.unimed-table tr td{
        padding: .3rem;
    }
}

@media screen and (max-width: 700px){
    .main-column .page table{
        font-size: .8rem;
    }
    .main-column .page table.unimed-table{
        font-size: .8rem;
        text-align: center;
    }
    .main-column .page table.unimed-table th{
        padding: .5rem .2rem;
    }
    .main-column .page table.unimed-table tr td{
        padding: .3rem .2rem;
    }

    .main-column .page table th{
        padding: .5rem .2rem;
    }
    .main-column .page table tr td{
        padding: .3rem .2rem;

        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .main-column .page table{
        font-size: .8rem;
    }
    .main-column .page table.unimed-table{
        font-size: .7rem;
        text-align: center;
    }
    .main-column .page table.unimed-table th{
        padding: .3rem;
    }
    .main-column .page table.unimed-table tr td{
        padding: 0 .2rem;
    }
    .main-column .page table.unimed-table th:nth-of-type(2){
        font-size: .7rem;
    }
}