@charset "UTF-8";

:root{
    --prime-color: #0c6a3d;
    --second-color: azure;
    --third-color: #D6D58E;
    --fourth-color: seagreen;
    --fifth-color: #21774e;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --article-background: white;
    --max-width: 960px;
    --min-width: 740px;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
    --blue-shadow: 0px 0px 4px 3px #2b9ecc8e;
    --transition-delay: 0.4s;
}
/*CORES INTERESSANTES*/
/*21774e    (white green (fifth-color))*/
/*seagreen   (fourth-color)*/
/*#0c6a3d    (white green)*/
/*#d4e3f6    (gray)*/
/*#024959    (black blue)*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;
    background-color: var(--background-color);
}



main{
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}


html{
    scroll-behavior: smooth;
}

/*
HEADER
*/
header{
    padding: 16px;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: var(--prime-color);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    position: relative;
}
header a{
    text-decoration: none;
}
header h1{
    margin: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 26px;
    color: var(--second-color);
}
header h1:hover{
    color: var(--third-color);
    text-decoration: none;
    transition: var(--transition-delay);
}
/*SUBTITLE*/
header p{
    color: var(--second-color);
    position: absolute;
    top: 58px;
    left: 112px;
}
header p:hover{
    transition: var(--transition-delay);
    color: var(--third-color);
}
header img{
    width: 80px;
    height: 76px;
    background-color: rgba(240, 255, 255, 0.72);
    border-radius: 8px;
    padding: 5px;
}



/*
GRID AND FLEX STRUCTURE
*/
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contents{
    padding: 0px 8px 0px 8px;
    margin: 14px 12px 0px 10px;
}
.sidebar{
    padding: 0px 8px 0px 8px;
    margin: 14px 12px 0px 10px;
}
.downbar{
    display: flex;
    flex-direction: row;
    background-color: var(--sooth-gray);
    margin-top: 12px;
    padding: 8px;
    box-shadow: var(--shadow);
}
.downbar article{
    margin: 12px;
}


@media screen and (max-width: 960px) {
    .container  {
      grid-template-columns: 2fr 1fr;
    }
}
@media screen and (max-width: 640px) {
    .container{
        grid-template-columns: 1fr;
    }
    .sidebar{
        grid-row: 1;
    }
    .contents{
        grid-row: 2;
    }
    .sidebar-img{
        display: none;
    }
}
@media (max-width:640px){
    .holerite, iframe{
        width: 100%;
    }
}


/*
SECTIONS AND ARTICLES
*/
section article{
    padding: 4px 16px 0px 16px;
    margin-top: 12px;
    margin-bottom: 16px;
}
section article h1{
    background-color: var(--prime-color);
    color: var(--second-color);
    padding: 4px;
    padding-left: 6px;
    border-radius: 2px;
}
section article h1:hover{
    color: var(--third-color);
    transition: var(--transition-delay);
    box-shadow: var(--blue-shadow);
}
article{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
    display: inline-block;
}
article:hover{
    transition: var(--transition-delay);
    box-shadow: var(--blue-shadow);
}
article p{
    text-indent: 22px;
}
.contents article img{
    float: left;
    margin-bottom: 16px;
    margin-right: 10px;
    width: 40%;
    height: 100%;
    box-shadow: var(--shadow);
}
.contents article img:hover{
    box-shadow: 0px 0px 6px 2px #00000070;
    transition: 0.7s;
}
aside{
    padding: 12px;
}
.sidebar article img{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
}






/*
HOLERITE
*/
.holerite{
    padding: 0px 16px 0px 16px;
    margin-top: 12px;
    margin-bottom: 28px;
}
.holerite h1{
    padding: 2px;
    padding-left: 6px;
    border-radius: 2px;
    background-color: var(--prime-color);
    color: var(--second-color);
}
.holerite h1:hover{
    color: var(--third-color);
    transition: var(--transition-delay);
    box-shadow: var(--blue-shadow);
}
.holerite{
    background-color: var(--article-background);
    box-shadow: var(--shadow);
    display: inline-block;
}
.holerite:hover{
    transition: var(--transition-delay);
    box-shadow: var(--blue-shadow);
}



.transparencia{
    position: relative;
    font-size: 20px;
    background-color: var(--prime-color);
    padding: 18px;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: var(--shadow);
}
.transparencia a{
    text-decoration: none;
    color: var(--second-color);
    margin: auto;
    padding: 18px;
}
.transparencia a:hover{
    color: var(--third-color);
    transition: var(--transition-delay);
}
.transparencia:hover{
    background-color: var(--fifth-color);
    box-shadow: var(--blue-shadow);
    transition: var(--transition-delay);
}
.transparencia img{
    position: absolute;
    top: 9px;
    left: 196px;
    width: 56px;
    height: 49px;
    overflow: hidden;
}



* {
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}
.slideshow-container img{
    transition: 0.4s ease;
    box-shadow: var(--shadow);
}
.slideshow-container img:hover{
    transition: 0.4s ease;
    box-shadow: var(--blue-shadow);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #00000098;
  margin-bottom: 8px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}









/*
NAVBAR WITH DROPDOWN
*/

/* INDEX MENU */
a#home{
    font-size: 26px;
    padding: 10px 16px;
}

/* Navbar container */
.navbar {
overflow: hidden;
background-color: var(--prime-color);
font-family: Arial;
box-shadow: var(--shadow);
margin-bottom: 10px;
}
  
/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
color: var(--second-color);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
display: flex;
flex-direction: row;
position: relative;
font-size: 16px;
border: none;
outline: none;
color: var(--second-color);
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
color: var(--prime-color);
background-color: var(--second-color);
transition: var(--transition-delay);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: var(--second-color);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
background-color: var(--sooth-gray);
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: var(--fourth-color);
color: var(--second-color);
box-shadow: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
} 

/*DROPDOWN ARROW*/
.arrow{
    transform: rotate(45deg);
    font-size: 10px;
    position: absolute;
    left: 96px;
    top: 15px;
}

/*
ACTIVE CLASS
*/
.active, .nav:hover{
background-color: var(--fourth-color);
}
a.active{
color: var(--second-color);
}
.dropdown .active{
    background-color: var(--fifth-color);
}







footer{
    display: flex;
    flex-direction: row;
    margin: 12px 0px 20px 0px;
    padding: 12px;
    background-color: var(--sooth-gray);
    box-shadow: var(--shadow);
}
footer > p{
    padding: 0px;
}
.backtotop{
    background-color: var(--prime-color);
    color: var(--second-color);
    margin: 22px 22px 22px 70%;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: var(--shadow);
}
.backtotop:hover{
    color: var(--third-color);
    box-shadow: var(--blue-shadow);
    transition: var(--transition-delay);
}