@charset "UTF-8";

:root{
    --prime-color: #0c6a3d;
    --second-color: azure;
    --third-color: #D6D58E;
    --fourth-color: seagreen;
    --fifth-color: #21774e;
    --background-color: azure;
    --sooth-gray: #f1f9fc;
    --thick-gray: #555;
    --article-background: white;
    --blue-color: #024959;
    --max-width: 960px;
    --min-width: 360px;
    --solid-border: 1px solid #0000005a;
    --shadow: 0px 0px 4px 2px #00000040;
    --blue-shadow: 0px 0px 4px 3px #2b9ecc8e;
    --transition-delay: 0.5s;
}

.bordero-bancario, .legislacao{
    margin: 15px 0;
    width: 100%;
}
.bordero-bancario th, .legislacao th{
    background-color: var(--blue-color);
    padding: 20px;
}